*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    width: 100%;
    height: 70px;
    background: violet;
    padding: 0 10%;
}
.collection{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}
.item{
    list-style: none;
    color: #fff;
}
.item:first-child{
    color: red;

}
.item:last-child{
    color: blue;
}
.item:nth-child(2){
    color: gold;
}
.item:nth-child(5) > button{
    background-color: red;
}
.parent{
    border: 1px solid red;


}
.parent >p{
    color: red;

}
.parent ~ p{
    color: green;
}
.toggle{
    display: inline-block;
    width: 80px;
    height: 40px;
    border-radius: 30px;
    background: #ddd;
    padding: 2px;
    cursor: pointer;
    user-select: none;
}
#input{
    display: none;
}
.circle{
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;

    transform: .25s;

}
#input:checked+.toggle{
    background: dodgerblue;
}
#input:checked+.toggle > .circle{
    transform: translateX(40px);
}
.btn{
    padding: 10px 44px ;
    border-radius: 6px;
    border: 1px solid dodgerblue;

     background: dodgerblue;
     color: #fff;
}
.btn:hover{
    background: blue;
    cursor: pointer;

}
.btn:active{
    transform: scale(.95);
    opacity: .7;
}
.inp{
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}
.inp:focus{
    outline: 2px solid rgb(111, 233, 233);
    background: whitesmoke;
}
.btn:disabled{
    opacity: .7;
    cursor: no-drop;
}
.btn:disabled:hover{
    background: dodgerblue;
}
.btn:disabled:active{
    transform: scale(1);
}


