*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.title{
    text-align: center;
    margin: 30px 0;
}
.table{
    width: 70%;
    margin: 30px auto;
    border-collapse: collapse;
    font-family: cursive;
    box-shadow: 0 0 15px #0002;
    border-radius: 10px ;
}
.table th,
.table td{
    border-bottom: 1px solid #ddd;
    padding: 10px  20px;
}
.table thead{
   
    background: #fff;
    color: #666;
    text-align: left;
}

.table tbody tr:nth-child(odd ){
    background: #f1f1f1;
}
.table tbody tr:hover{
   color: rgb(28, 133, 98);
}
button{
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
}
button:hover{
    cursor: pointer;
    outline: 2.5px solid aqua;
}
button:active{
   
opacity: .8;
}
.gren{
    background: green;
    color: white;
}
.red{
    background: red;
    color: white;

}
.gold{
    background: gold;
}
.text{
    text-align: center;
    margin-bottom: 20px;
}


.heading{
    width: 70%;
    margin: 30px auto;
    border-collapse: collapse;
    font-family: cursive;
    box-shadow: 0 0 15px #0002;
    border-radius: 10px ;
}
.heading th,
.heading td{
    border-bottom: 1px solid #ddd;
    padding: 10px  20px;
}
.heading thead{
   
    background: navy;
    color: #fff;
    text-align: left;
}

.heading tbody tr:nth-child(odd ){
    background: #f1f1f1;
}
.heading tbody tr:hover{
   color: rgb(28, 133, 98);
}
button{
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
}
button:hover{
    cursor: pointer;
    outline: 2.5px solid aqua;
}
button:active{
   
opacity: .8;
}
.gren{
    background: green;
    color: white;
}
.red{
    background: red;
    color: white;

}
.gold{
    background: gold;
}
.text{
    text-align: center;
    margin-bottom: 20px;
}
.btn{
    color: #fff;
    background: navy;
}


